target/
*/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*/.idea
*/*.iws
*/*.iml
*/*.ipr
