$color-white: #fff !default;
$color-black: #000 !default;
$color-gray: #bedcff !default;

// $color-black-light-1: #3693ff;
$color-black-light-1: #2b71ff;
$color-black-light-2: #36435f;
$color-black-light-5: #a7b4c3;

// $color-blue-light-1: #3693ff;
$color-blue-light-1: #2b71ff;
$color-blue-light-2: #76b5ff;
$color-blue-light-3: #048cff;
$color-blue-light-4: #3a8eff;
$color-blue-light-5: #249bff;
$color-blue-light-6: #2d99ff;
$color-blue-light-7: #36b5ff;

$color-green-light-5: #00ffd8;
